@{
	Layout="_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a href="AboutUsPage.cshtml">About Us</a>
        <a href="BusinessPolicy.cshtml">Business Policy</a>
        <a href="FAQPage.cshtml">FAQ</a>
        <a href="Homepage.cshtml">Home</a>
    </div>
</body>
</html>
