@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
<title>FAQ page</title>
<meta charset ="utf-8">
</head>
<body>

<h1>FAQ:</h1>

<h3>Orders:</h3>

<h4>Do you accept Purchase Orders?</h4>
<p>
Yes, we do! Please contact us for more details.
</p>

<h4>My organization is tax exempt. How do I place a tax exempt order?</h4>
<p>
To place a tax exempt order, please contact us via phone or email and we would be happy to assist you! We will
require a copy of your resale certificate in order to make your purchase tax-exempt.
</p>

<h4>I would like to input MatterHackers as a vendor and require a copy of your W-9 form. How can I do this?</h4>
<p>
We would be happy to provide you with a copy of our W-9. Please email us with your request at
support@matterhackers.com and we will get that sent back to you as soon as possible!
</p>

<h4>How can I track my order?</h4>
<p>
Once your order has been processed for shipment, you will receive an email notification with any relevant tracking
information. If you haven't received your tracking information for any reason, please contact us.
</p>

<h4>When is the lastest I can place my order for it to ship today?</h4>
<p>
For in-stock items (excluding freight), the cut-off for same-day shipment is 1 pm Pacific Time, Monday through
Friday. Orders received after 1 pm or on the weekend, will be processed the following business day. For freight items,
the cut-off for same-day shipment is 8 am Pacific Time, Monday through Friday.
</p>

<h4>Do you offer printing services or repair?</h4>
<p>
No, we do not offer printing services or repair services at this time.
</p>

<h3>Shipping:</h3>

<h4>How does free shipping work?</h4>
<p>
*Free shipping applies to any and all orders over $35, shipping within the contiguous United States. Items over five
pounds shipping to Alaska, Hawaii, Puerto Rico, and other US Territories will be subject to a shipping charge which
will be calculated at checkout.
</p>

<h4>When will I get my stuff?</h4>
<p>
We pride ourselves on fast shipping. If you order an in-stock item by 1:00 pm Pacific Time it will ship the same day
and, for U.S. orders, will normally take 2-3 days to arrive. Large items that require freight shipment usually arrive
within approximately 3-10 business days.
</p>

<h4>Where do you ship from, and which carriers do you use?</h4>
<p>
We ship from our distribution centers in Southern California and Pennsylvania, and ship packages via FedEx and
USPS Priority Mail.
</p>

<h3>Payment and Taxes:</h4>

<h4>What methods of payment can I use?</h4>
<p>
We accept Visa, MasterCard, Discover, and American Express, as well as Paypal. We provide financing options
through Affirm (see below), and accept purchase orders from qualified businesses, government entities, and
educational institutions.
</p>

<h4>Do you provide options for financing?</h4>
<p>
Yes, we offer financing through an external company called Affirm. To see if you qualify, click on the “Affirm” link
during the checkout process and you will be taken to their external website. If you qualify for their financing program,
you will be sent back to the MatterHackers site where you can complete your order.
</p>

<h4>Will you charge sales tax on my order?</h4>
<p>
We currently charge sales tax on orders shipping to a number of states. If you are shipping to a taxable location, you
will see taxes added to your total during checkout. If you are tax-exempt, please contact us directly to place your
order (we will require a valid resale or tax exemption certificate).
</p>

<h3>Returns:</h3>

<h4>Do you accept returns?</h4>
<p>
You can read our full return policy here.
</p>

<h4>I accidentally ordered the wrong size/item. Can I exchange the item I ordered?</h4>
<p>
Yes! To obtain an RMA number for your exchange, please contact us at support@matterhackers.com.
</p>

<h4>I need to send my printer to you, and no longer have the original packaging. Can I get replacement packaging?</h4>
<p>
We highly encourage you to keep your printer’s original packaging for at least the length of its warranty period.
    </p>

<p>
Any printer coming back in for repair or return must be shipped in its original packaging to ensure its safety. If you
no longer have your original packaging, please let us know and we can assist you with purchasing replacement
packaging. Any printer returning to us without its original packaging will be charged for the full cost of the
replacement packaging, along with any additional fees for resulting damage incurred through improper shipment.
</p>

</body>
</html>
