<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css"/>
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css"/>
    <title>Matterhackers Store</title>
</head>
<body>
    <!--Used !important tag to enforce the color change-->
    <nav class="navbar navbar-inverse bg-info" style="background-color: darkblue!important">
        <!--Made the logo and title float left while the Cart Summary button floats right-->
        <div class="float-left">
            <!--Referenced the stache of added icons stored on the iconography folder-->
            <!--TODO Clicking the logo should take you back to the home screen, replace # with a link-->
            <img src="~/Iconography/MH_Logo.png" height="100" width="100">
            <a class="navbar-brand text-white" href="#">Matterhackers</a>
        </div>
        <!--Button that takes user to the Home Page where they can also access the FAQ, About us, and Policies pages TODO-->
        <div class="float-right">
            <a class="navbar-brand text-white btn btn-primary" href="#">Home</a>
        </div>
        <!--Call the login page-->
        <div class="float-right">
            <a class="navbar-brand text-white btn btn-primary" href="/Account/Login">Log in</a>
        </div>
        <div class="float-right">
            @await Component.InvokeAsync("CartSummary")
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col col-md-3">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
            <div class="col col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
