@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Business Policy</title>
    <meta charset="utf-8">
</head>
<body>

    <h1>Business Policies:</h1>
    <h2>Payment Information:</h2>
    <p>
        If your purchase any products or services that we offer for a fee, you agree to the
        company storing your payment card information. You also agree to pay the applicable
        fees for the products or services as they become due plus all related taxes and to
        reimburse us for all collection costs and interest for any overdue amounts.
    </p>

    <h2>Return Policy:</h2>
    <p>
        Except as otherwise noted, every product purchased at MatterHackers has a 30-day return policy.
        If an item is faulty, you may return or exchange it within 30 days of receipt. After 30 days from
        receipt, returns will not be accepted. Returns for non-defective printers and accessories are
        subject to a 15% restocking fee. Please note: A printer can only be deemed defective by
        MatterHackers Technical Support or the printer manufacturer directly.
    </p>

    <p>
        All return shipping costs are the responsibility of the customer.
    </p>

    <p>
        3D printers and accessories vary by model and are subject to the return policy of the manufacturer
        in addition to this policy. Please inquire regarding the return policy of individual printers. For 3D
        printer kits, no returns will be accepted for any kit that has been opened. Only new, unopened 3D
        printer kits may be returned within 30 days of purchase.
    </p>

    <p>
        Items which qualify for return must be returned in the same physical condition as they were
        purchased, with all parts and accessories intact. As some printer manufacturers require that
        printers be sent in their original packaging for repair, we highly encourage customers to keep any
        and all original packaging for at least for the entirety of their warranty period - fees may be charged
        for replacement packaging, if necessary.
    </p>

    <p>
        Any item found to be broken or malfunctioning because of use beyond regular expectations or
        neglect by the customer will not be accepted for return.
    </p>

    <p>
        You must obtain a Returned Merchandise Authorization (RMA) before returning an item by
        contacting support via e-mail or phone. When returning an item for an exchange, the returned item
        must be received by MatterHackers before a replacement item is shipped out. If you need the item
        sooner than that, you are welcome to purchase a replacement to be shipped out immediately. You
        will then be reimbursed once we receive the returned item.
    </p>

    <p>
        Once we have received your RMA back at our facility, please allow approximately 7-10 business
        days for your return or exchange to be processed.
    </p>

    <p>
        Refunds will be issued in the original form of payment. If for any reason we are unable to refund to
        the original form of payment, refunds will be issued in the form of store credit.
    </p>

    <p>
        Orders that are cancelled by the customer after they have shipped may be returned to us for a
        refund minus any applicable shipping charges related to the cancelled order. In the case that a
        package is lost in transit we will assist as much as possible, but ultimate responsibility for the loss
        and/or delay lies with the carrier.
    </p>

    <p>
        MatterHackers is not responsible for any customs, duties, taxes, or import fees incurred in the
        shipment of items or replacement parts to other countries. If the customer elects to abandon their
        shipment in lieu of paying customs, taxes, or import fees on their order or returning the item(s) to
        us, no refund will be given.
    </p>

    <p>
        For custom orders of special items and/or replacement parts not found in our online catalog, a
        one-time (per-order) processing fee of $75.00 will apply.
    </p>

    <p>
        Please Note: All 'Clearance Items' sales are final. 'Clearance Items' are not covered by the 30-day
        return policy. This excludes Refurbished 3D printers and machines which have at least a 6-month
        warranty.
    </p>

</body>
</html>

