<!DOCTYPE html>
<html lang="en">
<head>
<title>Homepage</title>
<meta charset ="utf-8">
</head>
<body>

<h1>Homepage:</h1>
<h2>Links:</h2>
<p>
<a class="btn btn-primary" href="AboutUsPage" >About us page</a>
</p>
<p>
<a class="btn btn-primary" href="BusinessPolicy" >Business Policy</a>
</p>
<p>
<a class="btn btn-primary" href="FAQpage" >FAQ page</a>
</p>
<p>
<a class="btn btn-primary" href="Login.cshtml" >Login page</a>
</p>
<p>
<a class="btn btn-primary" href="List.cshtml" >List page</a>
</p>
<p>
<a class="btn btn-primary" href="Index.cshtml" >Cart</a>
</p>
<p>
<a class="btn btn-primary" href="Checkout.cshtml" >Checkout</a>
</p>
<p>
<a class="btn btn-primary" href="Completed.cshtml" >Completed checkout</a>
</p>

</body>
</html>
