@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Homepage</title>
    <meta charset="utf-8">
</head>
<body>

    <h1>Homepage:</h1>
    <h2>Links:</h2>
    <p>
        <a class="btn btn-primary" href="AboutUsPage">About us page</a>
    </p>
    <p>
        <a class="btn btn-primary" href="BusinessPolicy">Business Policy</a>
    </p>
    <p>
        <a class="btn btn-primary" href="FAQpage">FAQ page</a>
    </p>
    <p>
        <a class="btn btn-primary" href="/Account/Login">Login page</a>
    </p>
    <p>
        <a class="btn btn-primary" href="/Order/List">List page</a>
    </p>
    <p>
        <a class="btn btn-primary" href="/Cart/Index">Cart</a>
    </p>
    <p>
        <a class="btn btn-primary" href="/Order/Checkout">Checkout</a>
    </p>
    <p>
        <a class="btn btn-primary" href="/Order/Completed">Completed checkout</a>
    </p>

</body>
</html>
